POSTGRES_USER=ogna_user
POSTGRES_PASSWORD=supersecretpassword
POSTGRES_DB=ogna_db
POSTGRES_NON_ROOT_USER=ogna_user
POSTGRES_NON_ROOT_PASSWORD=supersecretpassword
ENCRYPTION_KEY=superlongjwtsecret
GOTRUE_JWT_SECRET=superlongjwtsecret
API_EXTERNAL_URL="localhost:8000"
STORAGE_TYPE="S3"
