x-kong-config: &kong-env
  KONG_DATABASE: "off"
  KONG_DECLARATIVE_CONFIG: /kong/kong.yaml
  KONG_PLUGINS: bundled,cors,acme,jwt-blacklist
  KONG_LUA_SSL_TRUSTED_CERTIFICATE: system
  KONG_NGINX_HTTP_LUA_SHARED_DICT: acme_storage 10m
  KONG_PROXY_ACCESS_LOG: /dev/stdout
  KONG_ADMIN_ACCESS_LOG: /dev/stdout
  KONG_PROXY_ERROR_LOG: /dev/stderr
  KONG_ADMIN_ERROR_LOG: /dev/stderr
  KONG_LOG_LEVEL: ${KONG_LOG_LEVEL:-notice}

services:

  ############################
  # Kong API Gateway
  ############################
  kong-cp:
    image: kong/kong-gateway:3.12.0.0
    container_name: kong-cp
    restart: unless-stopped
    environment:
      <<: *kong-env
    ports:
      - "8000:8000"
      - "443:8443"
    expose:
      - "8001"
    volumes:
      - ./kong/kong.yaml:/kong/kong.yaml:ro,z
      - ./kong/plugins/jwt-blacklist:/usr/local/share/lua/5.1/kong/plugins/jwt-blacklist
    networks:
      - ogna
      - tokens
    healthcheck:
      test: ["CMD", "kong", "health"]
      interval: 10s
      timeout: 10s
      retries: 10
      start_period: 30s
    secrets:
      - redis_password

  ############################
  # Authentik (Server)
  ############################
  authentik-server:
    image: ghcr.io/goauthentik/server:2024.10
    container_name: authentik-server
    command: server
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    environment:
      AUTHENTIK_SECRET_KEY: ${AUTHENTIK_SECRET_KEY}
      AUTHENTIK_POSTGRESQL__HOST: postgres
      AUTHENTIK_POSTGRESQL__USER: ${POSTGRES_USER}
      AUTHENTIK_POSTGRESQL__PASSWORD: ${POSTGRES_PASSWORD}
      AUTHENTIK_POSTGRESQL__NAME: ${POSTGRES_DB}
      AUTHENTIK_REDIS__HOST: redis
      AUTHENTIK_REDIS__PASSWORD: ${REDIS_PASSWORD}
      AUTHENTIK_LOG_LEVEL: info
    ports:
      - "9000:9000"
    networks:
      - ogna
      - tokens
    env_file:
      - .env

  ############################
  # Authentik (Worker)
  ############################
  authentik-worker:
    image: ghcr.io/goauthentik/server:2024.10
    container_name: authentik-worker
    command: worker
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    environment:
      AUTHENTIK_SECRET_KEY: ${AUTHENTIK_SECRET_KEY}
      AUTHENTIK_POSTGRESQL__HOST: postgres
      AUTHENTIK_POSTGRESQL__USER: ${POSTGRES_USER}
      AUTHENTIK_POSTGRESQL__PASSWORD: ${POSTGRES_PASSWORD}
      AUTHENTIK_POSTGRESQL__NAME: ${POSTGRES_DB}
      AUTHENTIK_REDIS__HOST: redis
      AUTHENTIK_REDIS__PASSWORD: ${REDIS_PASSWORD}
    networks:
      - ogna
      - tokens
    env_file:
      - .env

  ############################
  # PostgreSQL
  ############################
  postgres:
    image: postgres:18.1-alpine
    container_name: postgres
    restart: unless-stopped
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./migrations/init:/docker-entrypoint-initdb.d
    expose:
      - "5432"
    networks:
      - ogna
    env_file:
      - .env
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"
        ]
      interval: 5s
      timeout: 10s
      retries: 10
      start_period: 10s

  ############################
  # Flyway
  ############################
  flyway:
    image: flyway/flyway:10
    container_name: flyway_migrate
    depends_on:
      postgres:
        condition: service_healthy
    command: >
      -url=jdbc:postgresql://postgres:5432/${POSTGRES_DB}
      -user=${POSTGRES_USER}
      -password=${POSTGRES_PASSWORD}
      -schemas=migrations migrate
    networks:
      - ogna
    volumes:
      - ./migrations/post:/flyway/sql
    env_file:
      - .env

  ############################
  # Redis
  ############################
  redis:
    image: redis:7-alpine
    container_name: redis
    restart: unless-stopped
    expose:
      - "6379"
    volumes:
      - redis_data:/data
      - ./redis/redis.conf:/etc/redis/redis.conf
    command: >
      sh -c 'redis-server /etc/redis/redis.conf
      --requirepass "$$(cat /run/secrets/redis_password)"'
    networks:
      - tokens
    healthcheck:
      test: ["CMD", "sh", "-c", "redis-cli -a $$REDIS_PASSWORD ping | grep PONG"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    secrets:
      - redis_password

  ############################
  # Storage
  ############################
  storage:
    image: ghcr.io/ognastack/storage:main
    restart: unless-stopped
    environment:
      S3_SECRET_KEY: ${S3_SECRET_KEY}
      S3_ENDPOINT_URL: ${S3_ENDPOINT_URL}
      S3_ACCESS_KEY: ${S3_ACCESS_KEY}
      DATABASE_URL: postgres
      DATABASE_PORT: 5432
      DATABASE_USERNAME: ${POSTGRES_USER}
      DATABASE_PASSWORD: ${POSTGRES_PASSWORD}
      DATABASE_NAME: ${POSTGRES_DB}
      STORAGE_TYPE: S3
    volumes:
      - temp_files:/tmp
    expose:
      - "8000"
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - ogna
      - storage
    env_file:
      - .env

############################
# Volumes
############################
volumes:
  postgres_data:
  redis_data:
  temp_files:

############################
# Networks
############################
networks:
  ogna:
    driver: bridge
  tokens:
    driver: bridge
  storage:
    driver: bridge

############################
# Secrets
############################
secrets:
  redis_password:
    file: secrets/redis_password.txt
