x-kong-config: &kong-env
  KONG_DATABASE: postgres # Use Postgres as the backing database
  KONG_PG_HOST: postgres # Hostname of the Postgres service
  KONG_PG_DATABASE: ${POSTGRES_DB} # Name of the database to connect to
  KONG_PG_USER: ${POSTGRES_USER} # Database username
  KONG_PG_PASSWORD: ${POSTGRES_PASSWORD} # Database password

services:

  kong-cp:
    image: kong/kong-gateway:3.12.0.0
    container_name: kong-cp
    restart: unless-stopped
    networks:
      - api
      - tokens
    environment:
      KONG_PLUGINS: bundled,cors,acme,jwt-blacklist
      KONG_LUA_SSL_TRUSTED_CERTIFICATE: system
      KONG_NGINX_HTTP_LUA_SHARED_DICT: acme_storage 10m
      KONG_PROXY_ACCESS_LOG: /dev/stdout
      KONG_ADMIN_ACCESS_LOG: /dev/stdout
      KONG_PROXY_ERROR_LOG: /dev/stderr
      KONG_ADMIN_ERROR_LOG: /dev/stderr
      KONG_LOG_LEVEL: ${KONG_LOG_LEVEL:-notice}
      KONG_DATABASE: "off"
      KONG_DECLARATIVE_CONFIG: /kong/kong.yaml
      GOTRUE_JWT_SECRET: ${GOTRUE_JWT_SECRET}
      KONG_PROXY_LISTEN: 0.0.0.0:8000, 0.0.0.0:8443 ssl
    ports:
        - "80:8000"
        - "443:8443"
        - "8000:8000"
    healthcheck:
      test: ["CMD", "kong", "health"]
      interval: 10s
      timeout: 10s
      retries: 10
      start_period: 30s # Give Kong time to start
    volumes:
      - ./kong/kong.yaml:/kong/kong.yaml:ro,z
      - ./kong/plugins/jwt-blacklist:/usr/local/share/lua/5.1/kong/plugins/jwt-blacklist
    env_file:
      - .env
    secrets:
      - redis_password

  gotrue:
    image: bitnamilegacy/gotrue:2.178.0
    platform: linux/amd64
    environment:
      GOTRUE_DISABLE_SIGNUP: false
      GOTRUE_MAILER_AUTOCONFIRM: true
      MAILER_AUTOCONFIRM: true
      GOTRUE_API_HOST: "0.0.0.0"
      GOTRUE_API_PORT: 9999
      GOTRUE_DB_DRIVER: "postgres"
      GOTRUE_JWT_AUD: "authenticated"
      GOTRUE_JWT_DEFAULT_GROUP_NAME: "authenticated"
      GOTRUE_SITE_URL: "http://localhost"
      DATABASE_URL: "postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?search_path=auth"
    expose:
      - "9999"
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - api
      - tokens
      - database
    env_file:
      - .env
    healthcheck:
      test: ["CMD-SHELL", "ps | grep '[g]otrue'"]
      interval: 5s
      timeout: 3s
      retries: 5

  postgres:
    image: postgres:18.1-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./migrations/init:/docker-entrypoint-initdb.d
    expose:
      - "5432"
    networks:
      - database
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready -U ${POSTGRES_USER:-ogna_user} -d ${POSTGRES_DB:-ogna_db}",
        ]
      interval: 5s
      timeout: 10s
      retries: 10
      start_period: 10s
    restart: unless-stopped
    env_file:
      - .env

  migrations:
    image: ghcr.io/amacneil/dbmate:main
    container_name: migrations
    environment:
      DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?sslmode=disable
      DBMATE_MIGRATIONS_TABLE: migrations.schema_migrations
      DBMATE_MIGRATIONS_DIR: "/db/migrations"
      DBMATE_NO_DUMP_SCHEMA: false
    volumes:
      - ./migrations/post:/db/migrations
    depends_on:
      postgres:
        condition: service_healthy
      gotrue:
        condition: service_healthy
    command: up
    restart: on-failure
    networks:
      - database

  redis:
    image: redis:7-alpine
    container_name: redis
    expose:
      - "6379"
    volumes:
      - redis_data:/data
      - ./redis/redis.conf:/etc/redis/redis.conf  # Mount to default path
      - ./logs:/var/log/redis
    command: sh -c 'redis-server /etc/redis/redis.conf --requirepass "$$(cat /run/secrets/redis_password)"'
    networks:
      - tokens
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "sh", "-c", "redis-cli ping | grep PONG" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    environment:
      REDIS_REPLICATION_ROLE: master
    secrets:
      - redis_password

  storage:
    image: ghcr.io/ognastack/storage:main
    environment:
      S3_SECRET_KEY: ${S3_SECRET_KEY}
      S3_ENDPOINT_URL: ${S3_ENDPOINT_URL}
      S3_ACCESS_KEY: ${S3_ACCESS_KEY}
      DATABASE_URL: postgres
      DATABASE_PORT: 5432
      DATABASE_USERNAME: ${POSTGRES_USER}
      DATABASE_PASSWORD: ${POSTGRES_PASSWORD}
      DATABASE_NAME: ${POSTGRES_DB}
      STORAGE_TYPE: 'S3'
      GOTRUE_JWT_SECRET: ${GOTRUE_JWT_SECRET}
      GRAPHQL_HOST: 'http://hasura:8080'
      GRAPHQL_ENDPOINT: 'v1/graphql'
      GRAPHQL_SECRET: ${HASURA_GRAPHQL_ADMIN_SECRET}
    volumes:
      - temp_files:/tmp
    expose:
      - "8000"
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - storage
      - gql
      - api
    env_file:
      - .env

  dashboard:
    image: ghcr.io/ognastack/ogna-fe-template:main
    ports:
      - "3000:3000"
    depends_on:
      kong-cp:
        condition: service_healthy
    networks:
      - api
    env_file:
      - .env

  hasura:
    # 1. ADDED .cli-migrations-v3 suffix
    image: hasura/graphql-engine:v2.40.0.cli-migrations-v3
    container_name: hasura
    expose:
      - "8080"
    networks:
      - gql
      - database
    volumes:
      - ./hasura-config/metadata:/hasura-metadata
    environment:
      HASURA_GRAPHQL_DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
      HASURA_GRAPHQL_ADMIN_SECRET: ${HASURA_GRAPHQL_ADMIN_SECRET}
      HASURA_GRAPHQL_ENABLE_CONSOLE: "true"
      HASURA_GRAPHQL_UNAUTHORIZED_ROLE: anonymous
      HASURA_GRAPHQL_DEV_MODE: "true"
      HASURA_GRAPHQL_METADATA_DIR: /hasura-metadata
      HASURA_GRAPHQL_JWT_SECRET: >
        {
          "type": "HS256",
          "key": "vPDsBi2TafJuP4iqp40qx60AR34Qf6hQgC8GWBB7GoOKGqL9V6",
          "claims_map": {
            "x-hasura-user-id": { "path": "$.sub" },
            "x-hasura-default-role": { "path": "$.role" },
            "x-hasura-allowed-roles": ["authenticated"]
          }
        }
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
      migrations:
        condition: service_completed_successfully


volumes:
  postgres_data:
    driver: local
  redis_data:
    driver: local
  temp_files:
    driver: local

networks:
  tokens:
    driver: bridge
  storage:
    driver: bridge
  database:
    driver: bridge
  gql:
    driver: bridge
  api:
    driver: bridge

secrets:
  redis_password:
    file: secrets/redis_password.txt
